<nb-card>
  <form [formGroup]="formGroup">
    <div class="form-group">
      <label for="decisionName">{{ 'resources.name' | translate }}</label>
      <core-edit-multiple-lines-control id="decisionName" formControlName="name" [isRichEditor]="false" [maxTextLength]="maxTextLengthCategory.ShortText"></core-edit-multiple-lines-control>
    </div>

    <div class="form-group">
      <label for="decisionDescription">{{ 'resources.description' | translate }}</label>
      <core-edit-multiple-lines-control id="decisionDescription" formControlName="description" [maxTextLength]="maxTextLengthCategory.LongText"></core-edit-multiple-lines-control>
    </div>

    <div class="form-group">
      <label for="decisionType">{{ 'resources.type' | translate }}</label>
      <select id="decisionType" class="form-control" formControlName="type">
        <option value="{{ decisionType }}" *ngFor="let decisionType of getDecisionTypeValues">
          {{ getI18nNameDecisionType(decisionType.toLowerCase()) | translate }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="decisionStatusLevel">{{ 'resources.statusLevel' | translate }}</label>
      <select id="decisionStatusLevel" class="form-control" formControlName="statusLevel">
        <option value="{{ decisionStatusLevel }}" *ngFor="let decisionStatusLevel of getDecisionStatusLevelValues">
          {{ getI18nNameDecisionStatusLevel(decisionStatusLevel.toLowerCase()) | translate }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="decisionUrl">{{ 'resources.url' | translate }}</label>
      <input type="text" id="decisionUrl" class="form-control" formControlName="url" />
    </div>

    <div class="form-group">
      <label for="decisionQuestion">{{ 'resources.question' | translate }}</label>
      <core-edit-multiple-lines-control id="decisionQuestion" formControlName="question" [isRichEditor]="false" [maxTextLength]="maxTextLengthCategory.LongText"></core-edit-multiple-lines-control>
    </div>

    <button type="button" class="btn btn-info btn-block" (click)="addObject()" [disabled]="formGroup.invalid">
      {{ 'resources.addDecision' | translate }}
    </button>
  </form>
</nb-card>
