<form [formGroup]="formGroup">
  <div class="form-group">
    <label for="eventName">{{ 'resources.name' | translate }}</label>
    <core-edit-multiple-lines-control id="eventName" formControlName="name" [isRichEditor]="false" [maxTextLength]="maxTextLengthCategory.ShortText"></core-edit-multiple-lines-control>
  </div>
  
  <div class="form-group">
    <label for="eventDescription">{{ 'resources.description' | translate }}</label>
    <core-edit-multiple-lines-control id="eventDescription" formControlName="description" [maxTextLength]="maxTextLengthCategory.LongText"></core-edit-multiple-lines-control>
  </div>

  <core-object-tags
    [addTabAction]="fromModelerStore.AddTab"
    [tags]="editObject.tags"
    *ngIf="editObject">
  </core-object-tags>

  <core-input-url formControlName="url"></core-input-url>
</form>
