@import '../../../../../../assets/css/themes.scss';

.diagram-tabs-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.diagram-nav-tabs-title-container {
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  color: nb-theme(disabled-text-color);
  min-height: 4.3rem;
  height: 5rem;
  margin: 1px 0px 0px 1px;
}

.diagram-tab-content-container {
  z-index: 3;
  background-color: #ffffff;
  border-top: 1px solid nb-theme(lt-gray);
  height: 100%;
  overflow: hidden;
}

.diagram-nav-tab-title {
  z-index: 3;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.8);
  white-space: nowrap;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.tab-active {
  color: #000;
  border-bottom: 2px solid nb-theme(darken-primary-color);
}

.navbar-active {
  border-right: 1px solid nb-theme(lt-gray);
  
  .diagram-nav-tabs-title-container {
    background-color: #ffffff;
    z-index: 3;
  }
}

.title-icon-container {
  font-size: 1.5rem;
  padding-bottom: 0.3rem;
}

@media only screen and (max-width: 900px) {
  .diagram-nav-tabs-title-container {
    justify-content: space-between;
  }
}
