<form [formGroup]="formGroup">
  <div class="form-group">
    <label for="implementationComponentName">{{ 'resources.name' | translate }}</label>
    <core-edit-multiple-lines-control id="implementationComponentName" formControlName="name" [isRichEditor]="false" [maxTextLength]="maxTextLengthCategory.ShortText"></core-edit-multiple-lines-control>
  </div>

  <div class="form-group">
    <label for="implementationComponentDescription">{{ 'resources.description' | translate }}</label>
    <core-edit-multiple-lines-control id="implementationComponentDescription" formControlName="description" [maxTextLength]="maxTextLengthCategory.LongText"></core-edit-multiple-lines-control>
  </div>

  <core-object-tags
    [addTabAction]="fromModelerStore.AddTab"
    [tags]="editObject.tags"
    *ngIf="editObject">
  </core-object-tags>
  
  <dfm-implementation-component-select-icon-container *ngIf="editObject" [objectId]="editObject.id"></dfm-implementation-component-select-icon-container>

  <core-input-url formControlName="url"></core-input-url>
</form>
