<nb-card>
  <div class="row edit-graphable-container no-margin" *ngIf="state$ | async as state">
    <div class="jump-menu col-md-3">
      <dfm-jump-menu [object]="state.businessObjective" [anchors]="anchors"></dfm-jump-menu>
    </div>
    <div class="col-md-6 center-block tab-item">
      <div class="mb-1" #basicDetailsAnchor>
        <h5>{{ 'resources.basicDetails' | translate }}</h5>
        <dfm-edit-business-objective
          [editObject]="state.businessObjective"
          [isReadOnly]="state.isReadOnlySession">
        </dfm-edit-business-objective>
      </div>

      <div class="mb-1" #businessImpactAnchor>
        <h5>{{ 'resources.businessImpact' | translate }}</h5>
        <dfm-relation-objects-display
          caption="{{ 'resources.decisions' | translate }}"
          [addAction]="fromModelerStore.AddRelatedObjectToBusinessObjective"
          [removeAction]="fromModelerStore.RemoveRelatedObjectFromBusinessObjective"
          [to]="state.businessObjective"
          acceptsType="Decision"
          relationObjectsKey="decisions"
          [isReadOnly]="state.isReadOnlySession">
        </dfm-relation-objects-display>
        <dfm-relation-objects-display
          caption="{{ 'resources.organizations' | translate }}"
          [addAction]="fromModelerStore.AddRelatedObjectToBusinessObjective"
          [removeAction]="fromModelerStore.RemoveRelatedObjectFromBusinessObjective"
          [to]="state.businessObjective"
          acceptsType="Organization"
          relationObjectsKey="organizations"
          [isReadOnly]="state.isReadOnlySession">
        </dfm-relation-objects-display>
      </div>

      <div #commentsAnchor>
        <dfm-comments-container 
          *ngIf="state.businessObjective"
          [addAction]="fromModelerStore.AddRelatedObjectToBusinessObjective" 
          [removeAction]="fromModelerStore.RemoveRelatedObjectFromBusinessObjective" 
          [object]="state.businessObjective" 
          [comments]="state.businessObjective.comments"
          [authenticatedUser]="state.authenticatedUser"
          [isReadOnly]="state.isReadOnlySession">
        </dfm-comments-container>
      </div>
    </div>
  </div>
</nb-card>
