.decision-tab-table-container {
  padding-left: 15px;
  padding-right: 15px;
}

.content-block {
  margin-left: 2rem;
  margin-right: 2rem;
}

.header-block {
  display: inline-flex;
}

.expand-collapse-icon {
  font-size: 1.5rem;
  margin-left: -2rem;
  margin-top: 0.3rem;
}
