<div class="row view-diagram-container" *ngIf="state$ | async as state">
  <dfm-diagram-sidebar
    [diagram]="state.diagram"
    [existingObjects]="state.paletteList"
    [isReadOnly]="state.isReadOnlySession"
    (toggle)="resizeDiagram()">
  </dfm-diagram-sidebar>

  <div class="diagram-container">
    <dfm-go-js-display-diagram [diagram]="state.diagram" [icons]="state.icons" [resizingDiagram]="resizingDiagram" [isReadOnly]="state.isReadOnlySession">
    </dfm-go-js-display-diagram>
  </div>

  <dfm-panel-info-diagram-container
    (resize)="resizeDiagram()"
    [diagram]="state.diagram"
    [selectedDiagramObjects]="state.selectedDiagramObjects"
    [isReadOnly]="state.isReadOnlySession">
  </dfm-panel-info-diagram-container>
</div>
