.print-container-toolbar {
  display:flex; 
  widows: 100%; 
  justify-content: flex-end; 
  padding-right: 10px;
}

button {
  display: inline-block;
  width: 100px;
}

table {
  width: 100%;
}

footer {
  text-align: center;
}
