
<div class="search-item pt-1" *ngIf="isFullListItemType()">
  <div class="item-name full-type-item-name">
    <span attr.data-action="open-tab-{{ searchItem.id }}" (click)="openTab(searchItem)">
      <span class="item-type">{{ getResourceClassName(searchItem.className) | translate }}</span>
      <span class="item-name full-type-item-name"> | {{ searchItem.name }}</span>
    </span>
    <i *ngIf="!isReadOnly" attr.data-action="delete-{{ searchItem.id }}" class="eva eva-trash-2-outline remove-item icon-gray-color" (click)="delete()"></i>
  </div>
  <core-view-multiple-lines-control [text]="searchItem.description"></core-view-multiple-lines-control>
</div>

<div *ngIf="!isFullListItemType()">
  <div class="item-name" >
    <span attr.data-action="open-tab-{{ searchItem.id }}" class="object-list-item-name" (click)="openTab(searchItem)">{{ searchItem.name }}</span>
    <i *ngIf="!isReadOnly" attr.data-action="delete-{{ searchItem.id }}" class="nb-trash object-list-remove-item icon-gray-color" (click)="delete()"></i>
  </div>
  <core-view-multiple-lines-control [text]="searchItem.description"></core-view-multiple-lines-control>
</div>